.body{
    background-color: #252626;
    font-family: Arial, sans-serif;
}
.body h1 {
    color: #e3e2e2;
    text-align: center;
}
.body h2 {
    color: #e3e2e2;
    text-align: center;
}
.body p {
    color: #e3e2e2;
}